:root {
  --font-color: rgb(53, 9, 75);
}

body {
  font-family: monospace;
  background-color: hotpink;
  color: var(--font-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;

  background: #e8339a;
  background: linear-gradient(
    22deg,
    rgba(232, 51, 154, 1) 0%,
    rgba(114, 237, 83, 1) 100%
  );

  border-bottom: 0.1px solid rgb(172, 7, 68);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.281);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2em;
}

nav a {
  text-decoration: none;
  color: var(--font-color);
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 60px 1fr 60px;
}

main,
footer,
aside {
  padding: 1em;
}

header {
  grid-column-start: 1;
  grid-column-end: -1;
}

main {
  background-color: blueviolet;
}

footer {
  background-color: red;
  grid-column-start: 1;
  grid-column-end: -1;
}

aside {
  background-color: aqua;
}
